#let(form = [
    "id": formId,
    "token": formToken,
    "title": "Permission",
    "key": "user.permissions",
    "modelId": modelId,
    "list": [
        "title": "Permissions",
        "url": "/admin/user/permissions/"
    ]
])

#define(fields):
    #var(field = nil)

    #(field = ["id": "module", "required": true, "data": fields.module])
    #inline("Common/Fields/Text")

    #(field = ["id": "context", "required": true, "data": fields.context])
    #inline("Common/Fields/Text")

    #(field = ["id": "action", "required": true, "data": fields.action])
    #inline("Common/Fields/Text")

    #(field = ["id": "name", "required": true, "data": fields.name])
    #inline("Common/Fields/Text")

    #(field = ["id": "notes", "size": "s", "data": fields.notes])
    #inline("Common/Fields/Textarea")

#enddefine

#inline("Admin/Form")
